[submodule "0x02-functions_nested_loops/0x02-functions_nested_loops/_putchar.c"]
	path = 0x02-functions_nested_loops/0x02-functions_nested_loops/_putchar.c
	url = https://github.com/holbertonschool/_putchar.c.git
